#World based configuration of NEI.
#Most of these options can be changed ingame.
#Deleting any element will restore it to it's default value

command
{
	creative=/gamemode {0} {1}
	heal=
	item=/give {0} {1} {2} {3} {4}
	rain=/toggledownfall
	time=/time set {0}
}

inventory
{
	cheatmode=2
	gamemodes=creative, creative+, adventure
}
