# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=bbd95a4a-944c-42bb-ac12-43bf6dbe9d57

    # Set to true to disable all reporting
    B:opt-out=false
}


